<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delia_grimes.charterconnect">

    <application
        android:allowBackup="true"
        android:icon="@drawable/charter_connect_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EventsCalandar"
            android:label="@string/title_activity_events_calandar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SearchResults"
            android:label="@string/title_activity_search_results"
            android:parentActivityName=".ResourceMain"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.ResourceMain"
                android:value="com.example.delia_grimes.charterconnect">
            </meta-data>
        </activity>

        <activity
            android:name=".ResourceCategory"
            android:label="@string/title_activity_resource_category"
            android:parentActivityName=".ResourceMain"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.ResourceMain"
                android:value="com.example.delia_grimes.charterconnect">
            </meta-data>
        </activity>

        <activity
            android:name=".AddEvent"
            android:label="@string/title_activity_add_event"
            android:parentActivityName=".EventsMain"
            android:theme="@style/AppTheme.NoActionBar" >
            <meta-data
                android:name="android.support.EventsMain"
                android:value="com.example.delia_grimes.charterconnect">
            </meta-data>
        </activity>

        <activity
            android:name=".AddResource"
            android:label="@string/title_activity_add_resource"
            android:parentActivityName=".ResourceMain"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.ResourceMain"
                android:value="com.example.delia_grimes.charterconnect">
            </meta-data>
        </activity>

        <activity
            android:name=".ReserveRSVP"
            android:label="@string/title_activity_reserve_rsvp"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".SchoolProfile"
            android:label="@string/title_activity_school_profile"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ViewEvent"
            android:label="@string/title_activity_view_event"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".EventsMain">
                <meta-data
                    android:name="android.support.EventsMain"
                    android:value="com.example.delia_grimes.charterconnect">
                </meta-data>
        </activity>
        <activity
            android:name=".ViewResource"
            android:label="@string/title_activity_view_resource"
            android:theme="@style/AppTheme.NoActionBar"
            android:parentActivityName=".ResourceCategory">
                <!--<meta-data-->
                    <!--android:name="android.support.ResourceCategory"-->
                    <!--android:value="com.example.delia_grimes.charterconnect">-->
                <!--</meta-data>-->
        </activity>
        <activity
            android:name=".EventsMain"
            android:label="@string/title_activity_events_main"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".ResourceMain"
            android:label="@string/title_activity_resource_main"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--
     ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information.
        -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name=".StartScreen"
            android:label="@string/title_activity_start_screen"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>
